body {
  margin: 60px auto;
  width: 70%;
  background-color: #0b779d;
  color: white;
  font-family: "Roboto", "Sans-Serif";
}
nav ul,
footer ul {
  padding: 0px;
  font-weight: 100; /* TODO: Set the font-weight according to the design. This value does not seem to change anything.*/ 
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 6em;
  font-family: "Oswald", "Sans-Serif";
  font-weight: 100; /* TODO: Make font even lighter .*/ 
}
p,
.hobbies {
  font-size: 1.4em; 
  font-weight: lighter; /* TODO: Make font even lighter .*/ 
}
footer {
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.hobbies ul li {
  font-size: 0.75em;
}
