body {
  margin: 60px auto;
  width: 70%;
  background-color: #0b779d;
  color: white;
  font-family: "Roboto", "Sans-Serif";
}
nav ul,
footer ul {
  padding: 0px;
  font-weight: 100;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1em;
}
nav ul li {
  margin-right: 3.8em;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 6.8em;
  font-family: "Oswald", "Sans-Serif";
  font-weight: 100;
  margin-block-end: 0.45em;
}
h2 {
  font-family: "Roboto Condensed", "Sans-Serif";
  font-size: 1.25em;
  font-style: italic;
}
h2.role-and-company {
  font-family: "Roboto", "Sans-Serif";
  font-weight: bold;
  font-style: normal;
}
p,
.hobbies {
  font-size: 1.2em; 
  font-weight: lighter;
  max-width: 720px;
  line-height: 1.35;
}
p.home-paragraph {
  font-size: 1.4em; 
}

footer {
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.hobbies ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hobbies li{
  margin: 10px 0;
}
