html {
  height: 100%;
}

body {
  height: 100%;
  margin: 60px auto;
  width: 70%;
  background-color: #5fad56;
  background-image: linear-gradient(to bottom right, #0b779d, #5fad56);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Roboto", "Sans-Serif";
  overscroll-behavior-y: none;
}
nav ul,
footer ul {
  padding: 0px;
  font-weight: 100;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.2em;
}
nav ul li {
  margin-right: 3.8em;
}
nav ul li a {
  text-decoration: none;
}
footer ul li a img {
  margin-bottom: 40px;
}
ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}
a {
  text-decoration: underline;
  color: white;
}
h1 {
  font-size: 6.8em;
  font-family: "Oswald", "Sans-Serif";
  font-weight: 100;
  margin-block-end: 0.45em;
}
h2 {
  font-family: "Roboto Condensed", "Sans-Serif";
  font-size: 2em;
  margin-block-start: 1.2em;
  margin-block-end: 0.4em;
}
div.post h3 {
  margin-block-start: 2em;
}
div.post ol li {
  padding-bottom: 8px;
}
th {
  font-family: "Roboto", "Sans-Serif";
  font-weight: bold;
  font-style: normal;
}
p,
.hobbies {
  font-size: 1.2em;
  font-weight: lighter;
  max-width: 720px;
  line-height: 1.35;
}
p.home-paragraph {
  font-size: 1.4em;
}

footer {
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.2em;
}

ul.posts li {
  list-style: none;
}

.hobbies ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hobbies li {
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 50px 0;
  margin-bottom: 40px;
}

table,
th,
tr,
td {
  border: none;
}

th {
  text-align: start;
  font-size: 1.25em;
}

td {
  padding: 16px 0px;
  width: 200px;
}

td:last-child {
  width: 260px;
}

.current-menu-item {
  text-decoration: underline;
}

.blog-title {
  font-size: 3em;
}
